//
//  Mock.xcconfig
//  Hpay
//
//  Created by Ugur Bozkurt on 23/08/2021.
//  Copyright © 2021 Himalaya. All rights reserved.
//

#include "Base.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon_MOCK

HPAY_API_BASE_URL = http:/$()/10.96.1.56:3000/
MERCHANT_API_BASE_URL = http:/$()/10.96.1.56:3000/
SSO_API_BASE_URL = http:/$()/10.96.1.56:8185/
SSO_API_EXTRA_BASE_URL = http:/$()/10.96.1.56:3000/

APP_SUFFIX = mock
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).$(APP_SUFFIX)
PRODUCT_DISPLAY_NAME = $(PRODUCT_DISPLAY_NAME) Mock

AUTH_REDIRECT_URI = $(PRODUCT_BUNDLE_IDENTIFIER):/$(AUTH_REDIRECT_URI)
AUTH_ISSUER = $(SSO_API_BASE_URL)
AUTH_SCOPES = HpayApi offline_access

GOOGLESERVICE_INFO_PLIST_FILENAME = $(GOOGLESERVICE_INFO_PLIST_FILENAME).$(APP_SUFFIX)
