//
//  Q1.xcconfig
//  Hpay
//
//  Created by Younes Soltan on 28/11/2022.
//  Copyright © 2022 Himalaya. All rights reserved.
//

// Configuration settings file format documentation can be found at:

#include "Base.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon_QA

HPAY_API_BASE_URL = https:/$()/hpayapi-s1.himalaya.exchange/
MERCHANT_API_BASE_URL = https:/$()/hpaymerchant-s1.himalaya.exchange/
SSO_API_BASE_URL = https:/$()/sso-s1.himalaya.exchange/
SSO_API_EXTRA_BASE_URL = https:/$()/sso-s1.himalaya.exchange/

APP_SUFFIX = s1
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).$(APP_SUFFIX)
PRODUCT_DISPLAY_NAME = $(PRODUCT_DISPLAY_NAME) S1

AUTH_REDIRECT_URI = $(PRODUCT_BUNDLE_IDENTIFIER):/$(AUTH_REDIRECT_URI)
AUTH_ISSUER = $(SSO_API_BASE_URL)
AUTH_SCOPES = HpayApi IdentityServerApi HpayMerchantApi offline_access

GOOGLESERVICE_INFO_PLIST_FILENAME = $(GOOGLESERVICE_INFO_PLIST_FILENAME).$(APP_SUFFIX)
