<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_SUFFIX</key>
	<string>$(APP_SUFFIX)</string>
	<key>AUTH_CLIENT_ID</key>
	<string>$(AUTH_CLIENT_ID)</string>
	<key>AUTH_ISSUER</key>
	<string>$(AUTH_ISSUER)</string>
	<key>AUTH_REDIRECT_URI</key>
	<string>$(AUTH_REDIRECT_URI)</string>
	<key>AUTH_SCOPES</key>
	<string>$(AUTH_SCOPES)</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GOOGLESERVICE_INFO_PLIST_FILENAME</key>
	<string>$(GOOGLESERVICE_INFO_PLIST_FILENAME)</string>
	<key>Generate Info.plist File</key>
	<false/>
	<key>HPAY_API_BASE_URL</key>
	<string>$(HPAY_API_BASE_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MERCHANT_API_BASE_URL</key>
	<string>$(MERCHANT_API_BASE_URL)</string>
	<key>NSCameraUsageDescription</key>
	<string>若不允许，你将无法在H-Pay中使用拍照、二维码扫描功能</string>
	<key>NSContactsUsageDescription</key>
	<string>通讯录</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Your PIN will be securely stored on this device, allowing you to access the app using biometric authentication</string>
	<key>SHOW_ENVIRONMENT_LABEL</key>
	<string>$(SHOW_ENVIRONMENT_LABEL)</string>
	<key>SSL_CERTIFICATES</key>
	<string>$(SSL_CERTIFICATES)</string>
	<key>SSO_API_BASE_URL</key>
	<string>$(SSO_API_BASE_URL)</string>
	<key>SSO_API_EXTRA_BASE_URL</key>
	<string>$(SSO_API_EXTRA_BASE_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
